{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} Mesa digital | Novo produto {% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border mb-3">
            <h3 class="box-title">{{ titulo }}</h3>
        </div>

        <form method="post" class="form mb-3" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}

            <input type="submit" class="btn btn-primary" value="Salvar">
            <a href="{% url 'produtos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock content %}
