{% extends 'base.html' %}

{% block title %}Mesa digital | Estabelecimento {% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border mb-3">
            <h3 class="box-title">{{ estabelecimento.nome }}</h3>
        </div>

        <div class="card">
        <div class="card-header">
          <h3 class="card-title">Detalhes do estabelecimento</h3>
        </div>
        <div class="card-body">
          <div style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-3">
                {% if estabelecimento.logo %}
                  <img src="{{ estabelecimento.logo.url }}" class="img-fluid rounded" alt="Foto do estabelecimento" style="width: 100%; height: 100%; object-fit: cover;">
                {% else %}
                  Estabelecimento sem imagem
                {% endif %}
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md">
                      <h3 class="fw-bold">{{ estabelecimento.nome }}</h3>
                      <p class="card-text">{{ estabelecimento.descricao }}</p>
                      <div class="mb-3">
                        <b>Estabelecimento ativo?</b>
                        {% if estabelecimento.is_ativo %}
                          <span class="text-success">Sim</span>
                        {% else %}
                          <span class="text-danger">Não</span>
                        {% endif %}
                      </div>
                      <a href="{% url 'estabelecimento_update' estabelecimento.pk %}" class="btn btn-primary btn-sm">Editar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
{% endblock content %}
